
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5 !important;
    margin: 0;
    padding: 0;
   
}
.nav-link {
    color: #fff !important;
}
.sidebar
{
    background-color: #fff;
    border-radius: 20px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 15px;
    padding: 20px;
    width: 75%; /* Zmniejszenie szerokości */
    margin-left: auto; 
    margin-right: auto; 
}
.content, .right-sidebar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 15px;
    padding: 20px;
}
.card {
    margin-bottom: 20px;
    border:0px !important;
}
.card img {
    max-width: 100%;
    border-radius: 8px;
}
.footer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 20px 15px;
    padding: 20px;
    text-align: center;
}
.col-md-6
{
    max-width: 100% !important;
    border:0px !important;
    
}/*Zdjęcie w tle */
.cover-photo {
    position: relative;
    width: auto;
    height: 200px; /* Wysokość zdjęcia okładkowego */
    overflow: hidden;
    border: 0px solid #c0c0c0;
    
}

.cover-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Zdjęcie główne */
.profile-picture-container {
    position: relative;
    margin-top: -70px; /* Przesunięcie profilu na zdjęcie okładkowe */
    text-align: center;
    border:0px !important;
}

.profile-picture {
    width: 160px !important; /* Rozmiar zdjęcia profilowego */
    height: 160px !important;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.card-body {
    padding-top: 60px; /* Przestrzeń na zdjęcie profilowe */
    border: 0px !important;
}
/* Statystyki profilu */
.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.profile-stats div {
    text-align: center;
}
.card-body h2
{
    text-align: center;
}
p.card-text 
{
    text-align: center;
    font-size: small;
    margin-top: -10px;
}
.col-md-3.sidebar {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding-left: 60px;
    text-align: center;
    width: 30% !important;
}
.container-fluid
{
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
}
.button-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* szerokość kontenera przycisków */
}

.custom-button {
    background-color: white; /* Brudniejszy biały */
    border: 0px solid #c0c0c0; /* Jaśniejszy niebieski dla obramowania */
    color: #000;
    padding: 5px 20px;
    padding-left:20px;
    margin: 2px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border-radius: 8px; /* Zaokrąglenie rogów */
    position: relative;
    overflow: hidden;
}

.custom-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #5da6f5; /* Niebieski kolor tła przy najechaniu */
    transition: width 0.4s ease;
    z-index: 0;
    color:white;
    border-radius: 0 8px 8px 0;
}

.custom-button:hover::before {
    width: 5%;
    color:white;
}

.custom-button span {
    position: relative;
    z-index: 1;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: #007bff;
    text-decoration: none;
}
.footer .social-icons a {
    margin-right: 10px;
}

.formularz
{
    background-color: #fff !important;
    border-radius: 20px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    margin: 0px !important;
    padding: 20px !important;
    margin-left: auto; 
    margin-right: auto; 
    text-align: right;
}
.row-mt-3
{
    width:100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position:flex;

}
.col-md-6
{
    width:100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position:flex;

}
.post
{
    background-color: #fff !important;
    border-radius: 20px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    margin-bottom: 15px !important;
    padding: 20px !important;
    width:100%;
    
}
.col-md-9
{
    background-color: #fff !important;
    border-radius: 20px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    margin: 10px !important;
    padding: 20px !important;
    width:100%;
    
}


/* Modal styl */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    display: flex;
    margin: auto;
    padding: 20px;
    max-width: 50%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#modalImage {
    max-width: 60%;
    margin-right: 20px;
    border-radius: 10px;
}

.comments-section {
    max-width: 40%;
    color: #000;
    overflow-y: auto;
}

.comments-section h5 {
    margin-top: 0;
}

.comment {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment p {
    margin: 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.img_posts
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.thumbs-up
{
    background-color: rgb(76, 199, 76);
    text-align: center;
    width:40px;
    height:40px;
    margin: 5px;
    padding:5px;
    color:white;
    font-size: larger;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.thumbs-down
{
    background-color: rgb(202, 47, 47);
    text-align: center;
    width:40px;
    height:40px;
    margin: 5px;
    padding:5px;
    color:white;
    font-size: larger;
    border: none;
    box-shadow: 1 8px 7px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.share-btn
{
    background-color: rgb(6, 120, 214);
    text-align: center;
    width:70px;
    height:40px;
    margin: 5px;
    padding:5px;
    color:white;
    font-size: larger;
    border: none;
    box-shadow: 1 8px 7px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.thumbnail {
    width: 60px; /* Szerokość miniatury */
    height: 60px; /* Wysokość miniatury */
    overflow: hidden; /* Ukryj część obrazu, która wychodzi poza kontener */
    border-radius: 50%; /* Zaokrągl krawędzie, aby uzyskać efekt okrągłej miniatury */
    float: left; /* Pozycjonowanie obrazu na lewo */
    margin-right: 10px; /* Dodaj margines z prawej strony, aby oddzielić miniaturę od treści */
    border: 1px solid #c0c0c0;
}

.thumbnail img {
    width: 100%; /* Ustaw szerokość obrazu na 100% kontenera */
    height: 100%; /* Ustaw wysokość obrazu automatycznie, aby zachować proporcje */
    border-radius: 50%; /* Ponownie zaokrągl krawędzie obrazu, aby pasowały do kontenera */
    border: 1px solid #c0c0c0;
}

.logo{
    width: 60px;
    height: auto;
    margin-left: 10px;
}
.nav-item{

    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size:larger;
}
navbar-toggler
{
    color:black !important;
    width: 50px !important;
    height:50px !important;

}
.friends-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.friend-thumbnail {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

.friend-thumbnail:hover {
    transform: scale(1.1);
}

.friend-thumbnail img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    transition: border-color 0.2s;
}

.friend-thumbnail img:hover {
    border-color: #007bff;
}

.friend-thumbnail h5 {
    margin-top: 10px;
    font-size: 14px;
}
.like-button{
    width: 30px !important;
    height: 20px !important;    
}